<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>{{ myText }}</h1>
    <h1 v-text="myText"></h1>

    <h1>{{ myHTMLText }}</h1>
    <h1 v-text="myHTMLText"></h1>
    <h1 v-html="myHTMLText"></h1>

    <!-- v-if 不符合條件時不見 -->
    <h1 v-if="myNumber === 1">數字是 1</h1>
    <h1 v-else-if="myNumber === 2">數字是 2</h1>
    <h1 v-else>數字是其他</h1>
    <!-- v-show 不符合條件時 display none -->
    <h1 v-show="myNumber === 1">數字是 1</h1>

    <ul>
      <!-- v-for="(值, 索引) in 陣列" -->
      <li v-for="(fruit, index) in fruits">{{ fruit }}</li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      // 將 vue 對應到 #app 
      el: '#app',
      data () {
        return {
          myText: 'Hi',
          myHTMLText: '<a href="https://fb.com">FB</a>',
          myNumber: 1,
          fruits: ['香蕉', '鳳梨', '蘋果', '芭樂']
        }
      }
    })
  </script>
</body>
</html>