<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .red {
            color: red;
        }

        .border {
            border: 1px solid black
        }
    </style>
</head>

<body>
    <!-- 引用 VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <!-- 網頁上顯示的東西************************************************************************************************ -->
    <!-- VUE只在 <div id="app"> </div> 這裡面作用-->
    <div id="app">
        <!-- 顯示資料--------------------------------------------------------------- -->
        <!-- {{ }} 裡面放下面 data 資料可以顯示資料的文字  -->
        <h1>{{ myText }}</h1>

        <!--  v-text 顯示文字 -->
        <h1 v-text="myText"></h1>

        <h1>{{ myHTMLText }}</h1>
        <h1 v-text="myHTMLText"></h1>

        <!-- v-html 放 html 可以顯示 html -->
        <h1 v-html="myHTMLText"></h1>

        <!-- 判斷式----------------------------------------------------------------- -->
        <!-- 符合標籤內判斷式的才會顯示在網頁上 -->
        <!-- v-if 不符合條件時 整個消失 較常用-->
        <h1 v-if="myNumber==1">數字是1</h1>
        <h1 v-else-if="myNumber==2">數字是2</h1>
        <h1 v-else>數字是其他</h1>

        <!-- v-show 不符合條件時 display:none -->
        <h1 v-show="myNumber==1">數字是1</h1>

        <!-- 迴圈-------------------------------------------------------------------- -->
        <ul>
            <!-- 對標籤跑迴圈, v-for="(值, 索引) in 陣列" -->
            <!-- 陣列裡有幾個東西就跑幾個 li, v-for 放在哪個標籤 會依照陣列裡有幾個東西顯示幾個該標籤-->
            <li v-for="(fruit, index) in fruits">{{ fruit }}</li>
        </ul>

        <!-- 綁定---------------------------------------------------------------------- -->
        <!-- 把底下的資料綁定在上面顯示的 html 上面 -->
        <a v-bind:href="url">{{url}}</a>

        <!-- 簡寫 :屬性 -->
        <a :href="url">{{url}}</a>
        <img :src="img" width="100">

        <!-- 綁定 style 時要寫成 {}，key 是 CSS 樣式，value 是 data -->
        <p :style="{color: colorText, background: colorBG}">文字1</p>

        <!-- 也可以直接在下面資料寫好 {} 在上面標籤 :style 綁定 -->
        <p :style="textStyle">文字2</p>

        <!-- 綁定 class 時要寫成 {}，key 是 class 名，value 是 true/false -->
        <p :class="{red: true, border: hasBorder}">文字3</p>

        <!-- 一樣可以在下面資料寫好 {} 在上面標籤 :class 綁定 -->
        <p :class="textClass">文字4</p>

        <!-- v-model---------------------------------------------------------------- -->
        <!-- v-model !== v-bind, v-model 是綁定使用者輸入的值-->
        <!-- 打什麼字就會跟著出現 因為是綁再一起 -->
        <input type="text" v-model="input.text"> {{ input.text }}
        <br>

        <!--
      .number 可將欄位資料型態轉為數字
      .trim 可以自動執行 .trim()
    -->
        <input type="text" v-model.number="input.number"> {{ input.number }}
        <br>
        <input type="checkbox" v-model="input.check" value="1">1
        <input type="checkbox" v-model="input.check" value="2">2
        <input type="checkbox" v-model="input.check" value="3">3
        {{ input.check }}
        <br>
        <!-- 把陣列塞進 checkbox 點第一個就出現第一個陣列的值 以此類推-->
        <input type="checkbox" v-model="input.check2" v-for="(fruit, index) in fruits" :value="fruit">
        {{ input.check2 }}
        <br>
        <input type="radio" v-model="input.radio" value="購買">
        <input type="radio" v-model="input.radio" value="不購買">
        {{ input.radio }}
        <br>
        <select v-model="input.select">
            <option>1</option>
            <option>2</option>
        </select>
        {{ input.select }}
        <br>
        <select v-model="input.select2">
            <!-- 選了之後要顯示的值 一樣塞陣列進去 選哪個顯示哪個的值 -->
            <option v-for="(fruit, index) in fruits" :value="fruit">{{ fruit }}</option>
        </select>
        {{ input.select2 }}
        <br>

        <!-- 事件------------------------------------------------------------------------- -->
        <input type="button" value="點" v-on:click="sayHi">
        <!-- 
      .prevent = preventDefault
      .stop = 停止冒泡
    -->
        <!-- 簡寫 @ = v-on:, @事件-->
        <a href="https://fb.com" @click.prevent.stop="sayHi">點</a>
    </div>

    <script>
        // 資料********************************************************************************************************
        new Vue({
            // 將 vue 對應到 #app(vue只在 <div id="app"> <div>內有效)
            el: '#app',
            data() {
                return {
                    myText: 'Hi',
                    myHTMLText: '<a href="https://fb.com">FB</a>',
                    myNumber: 1,
                    fruits: ['香蕉', '鳳梨', '蘋果', '芭樂'],
                    url: 'https://fb.com',
                    img: 'https://dinbendon.kento520.tw/assets/img/background.jpg',
                    colorText: 'white',
                    colorBG: 'black',
                    textStyle: {
                        color: 'red',
                        background: 'black'
                    },
                    hasBorder: true,
                    textClass: {
                        red: true,
                        border: false
                    },
                    input: {
                        text: '',
                        check: [],
                        check2: [],
                        // 預設 購買打勾
                        radio: '購買',
                        select: '',
                        select2: '',
                        number: 0
                    }
                }
            },
            // methods 要接在 data() 同一層的後面 裡面放 VUE 要執行的 function
            methods: {
                sayHi(event) {
                    // 如果要在 Vue 的 methods 呼叫 data 的話使用 this.data名
                    console.log(this.myText)
                }
            }
        })
    </script>

</body>

</html>